<!DOCTYPE html>
<html lang="en">
  <head>
    <title>게시글 보기 - 장곡중 커뮤니티</title>
    <%- layouts.meta %>
  </head>
  <body>
    <%- layouts.header %>

    <main class="mdb-docs-layout">
      <div class="container p-3">
        <div class="h-100 w-100 shadow rounded p-4">
          <% if (!content) { %>
            <h2>요청하신 글을 찾을 수 없어요</h2>
            <hr />
            <button class="btn btn-primary" onclick="window.history.back()"><i class="fas fa-arrow-left"></i> 돌아가기</button>
          <% } else { %>
            <% content.createdAt = new Date(content.createdAt) %>
            
            <h2><%= content.title %></h2>
            <p><small><%= content.username %> | <i class="fas fa-thumbs-up"></i> <%= content.likes %> | <%= content.createdAt.getFullYear() %>년 <%= content.createdAt.getMonth() + 1 %>월 <%= content.createdAt.getDate() %>일 <%= content.createdAt.getHours() %>:<%= content.createdAt.getMinutes() %></small></p>
            <hr />

            <%- content.content %>
          <% } %>
        </div>
      </div>
    </main>

    <%- layouts.footer %>
    <script src="/src/main.js"></script>
  </body>
</html>