<!DOCTYPE html>
<html lang="en">
  <head>
    <title>장곡중 커뮤니티</title>
    <%- layouts.meta %>
  </head>
  <body>
    <%- layouts.header %>
    
    <main class="mdb-docs-layout">
      <div class="container pt-3">
        <div class="text-center">
          <img class="w-50" src="/src/img/logo.png" alt="장곡중학교" draggable="false">
        </div>

        <div class="row p-2">
          <div class="card col-sm-4">
            <div class="card-body">
              <h5 class="card-title">오늘의 급식</h5>
              <p class="card-text">
                <ul>
                  <% foodData.menu.forEach((menu) => { %>
                    <li><%= menu || '급식이 등록되지 않았습니다' %></li>
                  <% }) %>
                </ul>
              </p>
            </div>
          </div>
          <div class="col-sm-1"></div>
          <div class="card col-sm-7">
            <div class="card-body">
              <h5 class="card-title">공지</h5>
              <p class="card-text">
                <% bd_noti.forEach((noti) => { %>
                  <a class="btn alert-warning w-100 text-left mt-1 shadow-0" href="/board/noti/<%= noti.id %>">
                    <%= noti.title %> <i class="fas fa-link"></i>
                  </a>
                <% }) %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- layouts.footer %>
    <script src="/src/main.js"></script>
  </body>
</html>