<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= bname %> - 장곡중 커뮤니티</title>
    <%- layouts.meta %>
  </head>
  <body>
    <%- layouts.header %>
    
    <main class="mdb-docs-layout">
      <div class="container p-3">
        <div class="h-100 w-100 shadow rounded p-4">
          <h2><%= bname %></h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">추천수</th>
              </tr>
            </thead>
            <tbody>
              <% if (board.length < 1) { %>
                <tr><td colspan="4" class="text-center">게시글이 없어요...</td></tr>
              <% } else board.forEach((ctx) => { %>
                <% ctx.createdAt = new Date(ctx.createdAt) %>
                <tr onclick="window.location.assign('/board/<%= bslot %>/<%= ctx.id %>')">
                  <td><%= ctx.title %></td>
                  <td><%= ctx.username %></td>
                  <td><%= ctx.createdAt.getFullYear() %>년 <%= ctx.createdAt.getMonth() + 1 %>월 <%= ctx.createdAt.getDate() %>일 <%= ctx.createdAt.getHours() %>:<%= ctx.createdAt.getMinutes() %></td>
                  <td><%= ctx.likes %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <a href="/board/<%= bslot %>/write" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> 글쓰기</a>
        </div>
      </div>
    </main>

    <%- layouts.footer %>
    <script src="/src/main.js"></script>
  </body>
</html>